{% extends 'base.html' %}
{% block title %}History {{ page.name.title() | safe }}{% endblock %}
{% block head_include %}{% endblock %}
{% block content %}
<div class="page-header">
  <h1>History for page: {{ page.name.title() | safe }}</h1>
</div>
<table class="table table-borderless table-striped table-hover">
  <thead>
    <tr>
      <th>Version</th>
      <th>Author</th>
      <th>Created</th>
      <th>Content</th>
      <th colspan="2">Links</th>
    </tr>
  </thead>
  <tbody>
    {% for version in versions %}
      <tr>
      <td>{{ version.version | safe }}</td>
      <td>{{ version.author | safe }}</td>
      <td>{{ version.created.strftime('%Y-%m-%d %H:%M:%S') }}</td>
      <td>{{ version.content | striptags | truncate(75)}}</td>
      <td><a class="btn btn-default" href="/{{ version.name }}?v={{ version.version }}">View</a></td>
      <td><a class="btn btn-warning" href="/_edit/{{ version.name }}?v={{ version.version }}">Edit</a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
{% block tail_include %}{% endblock %}