{% extends 'base.html' %}
{% block title %}Search{% endblock %}
{% block head_include %}{% endblock %}
{% block content %}
  <div class="row" id="search">
    <div class="col-xs-8 col-xs-offset-2">
      <form>
        <div class="input-group">
          <input type="text" class="form-control" name="q" value="{{ search_query | safe }}">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button">
              <span class="glyphicon glyphicon-search"></span>
            </button>
          </span>
        </div>
      </form>
    </div>
  </div>
  {% if results %}
    <table class="table table-borderless table-striped table-hover">
      <thead>
        <tr>
          <th>Page</th>
          <th>Version</th>
          <th>Content</th>
        </tr>
      </thead>
      <tbody>
        {% for result in results %}
          <tr class="clickableRow" href='/{{ result.name | safe }}?v={{ result.version | int }}'>
            <td>{{ result.name.title() | safe }}</td>
            <td>{{ result.version | int }}</td>
            <td>{{ result.content | striptags | truncate(100) }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <div class="text-center">
      <p class="text-muted credit">
        Your search query didn't yield any results.
      </p>
      {% if search_query_first %}
        <p class="text-muted credit">
          Do you want to create a page for <a href="/_edit/{{ search_query_first | striptags | safe }}">{{ search_query_first.title() | striptags | safe }}</a>?
        </p>
      {% endif %}
    </div>
  {% endif %}
{% endblock %}
{% block tail_include %}
  <script type="text/javascript">
    jQuery(document).ready(function($) {
      $(".clickableRow").click(function() {
          window.document.location = $(this).attr("href");
      });
    });
  </script>
{% endblock %}