{% extends 'base.html' %}
{% block content %}
<div class="row">
  <div class="col-lg-10">
    {% block content_widget %}{% endblock %}
  </div>
  <div class="col-lg-2">
    <h4 style="margin-top: 40%;">Recently Changed</h3>
    <div class="well" style="padding: 8px 0;">
      <ul class="nav nav-list">
        {% for last_page in last_pages %}
          <li><a href="/{{ last_page.name }}">{{ last_page.name | title }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
{% endblock %}